* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(236, 236, 236);
}


/* INICIO NAVBAR */
.header-background {
    background-color: #1a1a1a;
    width: 100%;
    height: 4rem;
}

.navBar {
    display: flex;
    height: 4rem;
    justify-content: space-around;
    margin-right: 30px;
}

.navBar img {
    height: 4rem;
    padding: 10px 0px 10px 20px;
}

.navBar div {
    display: flex;
    align-items: center;
}

.navBar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin-bottom: 0px;
}

.navBar ul li {
    margin: 0px 15px;
}

.navBar a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navBar div button {
    margin: 0px 10px;
    border-radius: 50px;
    border: none;
    background-color: #1a1a1a;
}

.navBar div button:hover {
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}

.navBar div button i {
    font-size: 25px;
    padding: 10px;
}

.navBar div button i:hover {
    color: black !important;
}

/* FIN NAVBAR */


/* INICIO PRODUCTOS */
/* Parte 1 de productos */
#productos {
    display: flex;
    align-content: baseline;
    align-items:flex-start;
    margin: 1rem 5rem 0rem 7rem;
    justify-content: space-between;
}

#productos-categorias {
    width: 18rem;
    background-color: #1a1a1a;
    padding: 0.5rem 2rem;
    display: flex;
    text-decoration: none;
    color: white;
}
#productos-categorias ul {
    list-style: none;

    padding-left: 0rem;
    margin-top: 10px;
}

#productos-categorias ul li {
    padding: 2px 0px;
}

#productos-categorias ul li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 0.9rem;
}

/* Parte 2 de productos */

#productos-grid {
    display: flex;
    width: 56rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;

}

.productos-box {
    display: flex;
    width: auto;
    height: 23rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: white;
    justify-content: space-evenly;
}

.productos-box img {
    width: 15rem;
    align-self: center;
}

.productos-box h3 {
    letter-spacing: 0.1px;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0px;
    margin-left: 10px;
}

.productos-box h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0px;
    margin-left: 10px;
}

.productos-box h4 span {
    color: rgb(170, 170, 170);
    text-decoration: line-through;
    padding-left: 5px;
}

.productos-box button {
    border: none;
    text-decoration: none;
    background-color: rgb(34, 34, 34);
    padding: 6px;
    border-radius: 5px;
    align-self: stretch;
    margin: 0px 10px;
    font-size: 1rem;
    color: white;
}

.productos-box button i {
    padding: 0px 5px;
    font-size: 16px;
    color: white;
}

.productos-box button:hover {
    background-color: rgb(117, 117, 117);
}


/* ESTILOS EXTRA */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #ffffff;
    height: 2.5px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}